//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/ali/.local/share/rofi/themes/squared-material-red.rasi"
//@theme "/home/ali/.local/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/home/ali/.local/share/rofi/themes/spotlight-dark.rasi"
@theme "/home/ali/.local/share/rofi/themes/rounded-purple-dark.rasi"
